body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  background-color: var(--secondary-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

button {
  display: block;
  cursor: pointer;
  border: none;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

:root {
  --brand-color: #212121;
  --secondary-color: #757575;
  --brand-bg-color: #2f303a;
  --secondary-bg-color: #ffffff;
  --accent-color: #2196f3;
  --footer-contact-item: rgba(255, 255, 255, 0.6);
  --bg-color-btn-filter: #f5f4fa;
  --bg-color-icon-box: #f5f4fa;
  --color-logo: #000000;
  --btn-service-hover: #188ce8;
  --border-cads: 1px solid #eeeeee;
  --icon: #afb1b8;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: var(--secondary-bg-color);
  background-color: var(--accent-color);
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
}
.btn:hover, .btn:focus {
  background-color: var(--btn-service-hover);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon);
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
  color: var(--secondary-bg-color);
}

.social-list__icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity var(--transition-duration) var(--transition-timing-function);
  transition: opacity var(--transition-duration) var(--transition-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* ----------modal---------- */
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 528px;
  padding: 40px;
  background: var(--secondary-bg-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-close__icon {
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.btn-close:hover .btn-close__icon, .btn-close:focus .btn-close__icon {
  fill: var(--accent-color);
}

.modal__text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.form__field {
  margin-bottom: 10px;
}

.form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}

.form__wrapper {
  position: relative;
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  -webkit-transition: border var(--transition-duration) var(--transition-timing-function);
  transition: border var(--transition-duration) var(--transition-timing-function);
}
.form__wrapper:focus-within > .form__input {
  border: 1px solid var(--accent-color);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.form__wrapper:focus-within > .form__icon {
  fill: var(--accent-color);
}

.form__input.comment {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.form__label-check {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 12px;
  line-height: 1.71;
  color: var(--secondary-color);
}
.form__label-check > a {
  color: var(--accent-color);
}

.form__input-check {
  /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute; */
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.form__icon-check {
  border: 2px solid var(--brand-color);
  border-radius: 2px;
  background-color: transparent;
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function), border-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function), border-color var(--transition-duration) var(--transition-timing-function);
}
.form__input-check:checked ~ .form__icon-check {
  background-color: var(--accent-color);
  border-color: transparent;
}
.form__input-check:focus ~ .form__icon-check {
  border-color: var(--accent-color);
}

.form__btn {
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: var(--secondary-bg-color);
  border-bottom: 1px solid #ececec;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
}

.header__logo {
  margin-right: 93px;
}
.header__logo > span {
  color: var(--color-logo);
}

.nav-list__item:not(:last-child),
.contact__item:not(:last-child) {
  margin-right: 50px;
}

.nav,
.nav-list,
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact {
  margin-left: auto;
}

.nav-list__link,
.contact__link {
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.nav-list__link:hover,
.nav-list__link:focus,
.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--secondary-color);
}

.contact__icon {
  display: block;
  margin-right: 10px;
  fill: currentColor;
}
.contact__link:hover .contact__icon, .contact__link:focus .contact__icon {
  fill: currentColor;
}

.current {
  position: relative;
  color: var(--accent-color);
}
.current::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.hero {
  max-width: 1600px;
  height: 600px;
  padding: 200px 0;
  margin: 0 auto;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  width: 696px;
  margin: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-bg-color);
}

.hero__btn {
  min-width: 216px;
  margin: 30px auto 0;
  padding: 10px 32px;
}

.advantages {
  padding-top: 94px;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.advantages-list__item {
  width: calc((100% - 90px) / 4);
}

.icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bg-color-icon-box);
  border-radius: 4px;
}

.advantages-list__icon {
  width: 70px;
  height: 70px;
}

/* .advantages-list__item::before {
    content: "";
    display: block;
    height: 120px;
    margin-bottom: 30px;
    background-image: url(../images/advantages-astronaut.svg);
    background-size: 70 px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--bg-color-btn-filter);
  } */
.advantages-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages-list__text {
  line-height: 1.71;
  color: var(--secondary-color);
}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work__title {
  margin: 0 auto 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.work-list__item {
  position: relative;
  width: calc((100% - 60px) / 3);
}

.work-list__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-bg-color);
  background: rgba(47, 48, 58, 0.8);
}

.team {
  padding: 94px 0;
  background-color: var(--bg-color-btn-filter);
}

.team__title {
  margin: 0 auto 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.people-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.people-list__item {
  width: calc((100% - 90px) / 4);
  background-color: var(--secondary-bg-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.people-list__content {
  padding: 30px 0;
}

.people-list__title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.people-list__text {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-color);
}

.clients {
  padding: 94px 0;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--icon);
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function), border-color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), border-color var(--transition-duration) var(--transition-timing-function);
}
.clients-list__link:hover, .clients-list__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-list__icon {
  fill: currentColor;
}

.filter {
  padding: 94px 0;
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter-list .item {
  margin-right: 8px;
}
.filter-list .item:last-child {
  margin-right: 0;
}

.btn-filter {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  background-color: var(--bg-color-btn-filter);
  border-radius: 4px;
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: box-shadow var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function);
  transition: box-shadow var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
}
.btn-filter:hover, .btn-filter:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-color);
  color: var(--secondary-bg-color);
}

.cads-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.cads-list .item {
  width: calc((100% - 60px) / 3);
}

.cads-list-link {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: box-shadow var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
}
.cads-list-link:hover, .cads-list-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cads-content {
  padding: 20px 24px;
  border: var(--border-cads);
}

.cads-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--brand-color);
}

.cads-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.cads-thumb {
  position: relative;
  overflow: hidden;
}

.overley {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
}
.cads-list-link:hover .overley, .cads-list-link:focus .overley {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.overley-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary-bg-color);
}

.footer {
  background-color: var(--brand-bg-color);
  padding: 60px 0;
}

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__logo {
  margin-bottom: 20px;
}
.footer__logo > span {
  color: var(--secondary-bg-color);
}

.footer-contact {
  line-height: 1.71;
  font-style: normal;
}

.footer-contact__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-contact__link {
  color: var(--footer-contact-item);
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.footer-contact__link:hover, .footer-contact__link:focus {
  color: var(--accent-color);
}

.footer-contact__link--white {
  color: var(--secondary-bg-color);
}

/* ----------join---------- */
.join {
  margin-left: 70px;
}

.join__text,
.subscribe__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-bg-color);
}

.join__link {
  color: var(--secondary-bg-color);
  background: rgba(255, 255, 255, 0.1);
}

/* ----------subscribe---------- */
.subscribe {
  margin-left: auto;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.subscribe__input {
  min-width: 358px;
  padding: 16px 12px;
  background-color: inherit;
  color: var(--footer-contact-item);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

/* .input-subscribe:not(:placeholder-shown) {
  border: 1px solid var(--accent-color);
  } */
.subscribe__btn {
  gap: 10px;
  min-width: 200px;
}/*# sourceMappingURL=main.css.map */