@import "./base/reset";
@import "./base/common";

@import "./utils/variabels";
@import "./utils/hidden";
@import "./utils/mixins";

@import "./components/btn";
@import "./components/container";
@import "./components/title";
@import "./components/logo";
@import "./components/social-list";
@import "./components/modal";
@import "./components/form";

@import "./layouts/header";
@import "./layouts/hero";
@import "./layouts/advantages";
@import "./layouts/work";
@import "./layouts/team";
@import "./layouts/clients";
@import "./layouts/filter-cards";
@import "./layouts/cads";
@import "./layouts/footer";
