.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: var(--secondary-bg-color);
  background-color: var(--accent-color);

  transition: background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    background-color: var(--btn-service-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
