.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--transition-duration) var(--transition-timing-function);

  @media screen and (max-height: 660px) {
    overflow-y: scroll;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* ----------modal---------- */

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 450px;
  padding: 40px;

  background: var(--secondary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--transition-duration) var(--transition-timing-function);

  @media screen and (max-width: 450px) {
    width: 320px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
  }

  @media screen and (max-height: 660px) {
    position: static;
    transform: translate(0, 0);
    margin: 0 auto;
  }
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-close__icon {
  transition: fill var(--transition-duration) var(--transition-timing-function);

  .btn-close:hover &,
  .btn-close:focus & {
    fill: var(--accent-color);
  }
}
