.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon);

  transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--secondary-bg-color);
  }
}

.social-list__icon {
  fill: currentColor;
}
