:root {
  --brand-color: #212121;
  --secondary-color: #757575;
  --brand-bg-color: #2f303a;
  --secondary-bg-color: #ffffff;
  --accent-color: #2196f3;
  --footer-contact-item: rgba(255, 255, 255, 0.6);
  --bg-color-btn-filter: #f5f4fa;
  --bg-color-icon-box: #f5f4fa;
  --color-logo: #000000;
  --btn-service-hover: #188ce8;
  --border-cads: 1px solid #eeeeee;
  --icon: #afb1b8;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}
