.cads-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cads-list .item {
  width:100%;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 2 * 30px) / 3);
  }
}

.cads-list-link {
  display: block;
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.cads-content {
  padding: 20px 24px;
  border: var(--border-cads);
}
.cads-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--brand-color);
}

.cads-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.cads-thumb {
  position: relative;
  overflow: hidden;
}

.overley {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform var(--transition-duration) var(--transition-timing-function);

  .cads-list-link:hover &,
  .cads-list-link:focus & {
    transform: translatey(0);
  }
}

.overley-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary-bg-color);
}
