.clients {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.clients-list__item {
  width:  calc((100% - 2 * 30px) / 2);

  @media screen and (min-width: 768px) {
    width: calc((100% - 3 * 30px) / 3);
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--icon);

  transition: color var(--transition-duration) var(--transition-timing-function), border-color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.clients-list__icon {
  fill: currentColor;
}
