.footer {
  background-color: var(--brand-bg-color);
  padding: 60px 0;
}

.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;

  @media screen and (min-width: 768px) {
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    align-items: baseline;
    flex-wrap: nowrap;
    gap: 0px;
  }
}

.contact-box {
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer__logo {
  margin-bottom: 20px;

  & > span {
    color: var(--secondary-bg-color);
  }
}

.footer-contact {
  line-height: 1.71;
  font-style: normal;
}

.footer-contact__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-contact__link {
  color: var(--footer-contact-item);

  transition: color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-contact__link--white {
  color: var(--secondary-bg-color);
}

/* ----------join---------- */

.join {
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    text-align: left;
  }
}

.join__text,
.subscribe__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-bg-color);
}

.join__link {
  color: var(--secondary-bg-color);
  background: rgba(255, 255, 255, 0.1);
}

/* ----------subscribe---------- */

.subscribe {
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-left: auto;
    text-align: left;
  }
}

.subscribe__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  @media screen and (min-width: 768px) {
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 12px;
  }
}

.subscribe__input {
  width: 100%;
  padding: 16px 12px;
  background-color: inherit;
  color: var(--footer-contact-item);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  @media screen and (min-width: 480px) {
    min-width: 450px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 358px;
  }
}
/* .input-subscribe:not(:placeholder-shown) {
  border: 1px solid var(--accent-color);
  } */

.subscribe__btn {
  gap: 10px;
  min-width: 200px;
}
