.header {
  background-color: var(--secondary-bg-color);
  border-bottom: 1px solid #ececec;
}

.page-header {
  display: flex;
  height: 80px;
}

.header__logo {
  margin-right: 93px;
  & > span {
    color: var(--color-logo);
  }
}

// .nav-list__item:not(:last-child),
// .contact__item:not(:last-child) {
//   margin-right: 50px;
// }

.nav,
.nav-list,
.contact {
  display: flex;

  padding: 0;
  align-items: center;
}

.nav-list,
.contact {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 50px;
  }
}

.contact {
  margin-left: auto;

  @media screen and (min-width: 768px) {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }
}

.nav-list__link,
.contact__link {
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color);

  transition: color var(--transition-duration) var(--transition-timing-function);
}

.contact__link {
  padding: 0;
}

.nav-list__link:hover,
.nav-list__link:focus,
.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
}

.contact__link {
  display: flex;
  align-items: center;
  color: var(--secondary-color);
}

.contact__icon {
  display: block;
  margin-right: 10px;
  fill: currentColor;

  .contact__link:hover &,
  .contact__link:focus & {
    fill: currentColor;
  }
}

.current {
  position: relative;
  color: var(--accent-color);

  &::after {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}
