.header {
  background-color: var(--secondary-bg-color);
  border-bottom: 1px solid #ececec;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;

  @media screen and (min-width: 768px) {
    height: 80px;
  }
}

.header__logo {
  margin-right: 93px;
  & > span {
    color: var(--color-logo);
  }
}

.nav,
.nav-list,
.contact {
  display: flex;

  padding: 0;
  align-items: center;
}

.nav-list,
.contact {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 50px;
  }
}

.contact {
  margin-left: auto;

  @media screen and (min-width: 768px) {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }
}

.nav-list__link,
.contact__link {
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color);

  transition: color var(--transition-duration) var(--transition-timing-function);
}

.contact__link {
  padding: 0;
}

.nav-list__link:hover,
.nav-list__link:focus,
.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
}

.contact__link {
  display: flex;
  align-items: center;
  color: var(--secondary-color);
}

.contact__icon {
  display: block;
  margin-right: 10px;
  fill: currentColor;

  .contact__link:hover &,
  .contact__link:focus & {
    fill: currentColor;
  }
}

.menu-open {
   padding: 0;
  background-color: transparent;
  border: none;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-open__icon,
.menu-close__icon {
    transition: fill var(--transition-duration) var(--transition-timing-function);

  .menu-open:hover &,
  .menu-open:focus &,
  .menu-close:hover &,
  .menu-close:focus & {
    fill: var(--accent-color);
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  z-index: 10;
  overflow: scroll;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #fff;
}

.menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.mob-nav-list,
.mob-contact {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mob-contact {
  margin-top: auto;
}

.mob-nav-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.mob-nav-list__link--current {
  position: relative;
  color: var(--accent-color);
}

.mob-contact__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);

  @media screen and (max-width: 400px) {
    font-size: 24px;
  }
}

.mob-contact__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-color);

  @media screen and (max-width: 340px) {
    font-size: 20px;
  }
}

.mob-social-list {
  display: flex;
  margin-top: 64px;
  @media screen and (max-width: 420px) {
    flex-wrap: wrap;
    row-gap: 10px;
  }
}

.mob-social-list__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-social-list__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.current {
  position: relative;
  color: var(--accent-color);

  &::after {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}
