.work {
  padding-top: 94px;
  padding-bottom: 94px;
}
.work__title {
  margin: 0 auto 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.work-list {
  display: flex;
  gap: 30px;
}

.work-list__item {
  position: relative;
  width: calc((100% - 2 * 30px) / 3);
}

.work-list__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-bg-color);
  background: rgba(47, 48, 58, 0.8);
}
